.login-icon {
    margin-top: 20px;
}

.logo-img {
    cursor: pointer;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: center;
}


.menu-list {
    display: flex;
    justify-self: center;
}

.menu-list div {
    padding: 10px;
}

.search-input {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    
}

.search-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.product-all {
    margin-left: 20px;
}


.product img {
    width: 320px;
    cursor: pointer;

}

.product:hover img {
    transform: scale(1.4);
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    position: fixed;
    width: 160px;
    height: 100%;
    background: #333;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar.open {
    width: 250px; /* 열릴 때의 너비 */
}

.sidebar .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sidebar .user {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-item {
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    background: #444;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.size-dropdown {
    margin-bottom: 10px;
}

@media (min-width: 1300px) {
    .product-all {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1200px) and (min-width: 992px) {
    .product-all {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 992px) and (min-width: 768px) {
    .product-all {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .product-all {
      grid-template-columns: 1fr;
    }
  }
  
  .menu-list {
    display: flex;
    list-style-type: none;
  }
  
  .menu-list li {
    padding: 5px;
  }
  
  .menu-area {
    display: flex;
    justify-content: center;
  }
  
  /* 반응형 */
@media screen and (max-width: 63rem) {
    .menu-list {
      display: none;
    }
    .search-box{
      display: none;
    }

    .slide-text h2 {
        font-weight: 700;
        font-size:1.0em;
        width: 100%;
    }

    .logo-img img {
        width: 150px;
        cursor: pointer;
        margin-top: 10px;
    }
}
.search-btn {
    color: black;
}

.search-input {
    margin-bottom: 10px;
    border: none;
    width: 115px;
    background: none;
    outline: none;
    padding: 0px;
    font-size: 14px;
    padding-left: 10px;
}
