.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: center;
}


.menu-list {
    display: flex;
    justify-self: center;
}

.menu-list div {
    padding: 10px;
}


.search-input {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    
}

.search-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.product img {
    width: 320px;
    cursor: pointer;

}

.product:hover img {
    transform: scale(1.4);
}